.landing-container {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 0;

    display: flex;
    flex-direction: column;

    gap: 50px;
}

.advertentie-items {
    display: flex;
    gap: 20px;
}

.nf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    max-width: 1000px;
    width: 100vw;
    height: 50vh;

    margin: auto;

    color: $secondary;

    > div {
        display: flex;
        align-items: center;
        text-align: left;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }
    }

    p {
        padding: 5px;
        cursor: pointer;
        gap: 10px;

        i {
            background: $tertiary;

            padding: 15px;
            border-radius: 100%;
            border: 1px solid #ededed;
        }
    }

    p:last-of-type {
        i {
            rotate: 180deg;
        }
    }
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    border-top: 1px solid #ededed;
    color: $secondary;

    padding: 20px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 1000px;
        width: 100%;
    }

    img {
        height: 60px;
    }
}
